@using Projet_Biblio.ViewModel; 

@model HomeViewModel; 

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-info" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total Requests</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Pending Requests</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Approved Requests</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Rejected Requests</h5>
                    <p class="card-text">23</p>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="margin-top:25px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-2">
                                <h5>Books List</h5>
                            </div>
                            <div class="col-lg-10" style="">
                                <div style="display:flex;justify-content:end;">
                                    <a asp-controller="Book" asp-action="Create">
                                        <input type="button" value="Add Book" class="btn btn-outline-success" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (Model.BookDtos != null)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Book ID</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Category</th>
                                        <th>Date de publication</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BookDtos)
                                    {
                                        <tr>
                                            <td>@item.ISBN</td>
                                            <td>@item.Title</td>
                                            <td>@item.Author</td>
                                            <td>@item.Category</td>
                                            <td>@item.DatePublication.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-2">
                                <h5>Membres</h5>
                            </div>
                            <div class="col-lg-10" style="">
                                <div style="display:flex;justify-content:end;">
                                    <a asp-controller="Account" asp-action="Register">
                                        <input type="button" value="Add Member" class="btn btn-outline-success" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (Model.AllUsers != null)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AllUsers)
                                    {
                                        <tr>
                                            <td>@item.FirstName</td>
                                            <td>@item.LastName</td>
                                            <td>@item.Email</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
